services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.5.3
    command: [ "start-dev", "--import-realm" ]
    ports:
      - "8081:8080"
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
    volumes:
      - ./docker/keycloak/tutorials-realm.json:/opt/keycloak/data/import/tutorials-realm.json:ro
