spring:
  config:
    import: optional:file:.env.local[.properties]

  application.name: spring-ai

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-5-mini
          temperature: 1.0

    # PGVector
    vectorstore:
      pgvector:
        initialize-schema: true

  datasource:
    url: jdbc:postgresql://localhost:5432/tutorials-spring-ai
    username: tutorials
    password: tutorials

management:
  endpoints:
    web:
      exposure.include: "*"

logging:
  level:
    org.springframework.ai: debug
    tutorials.springai: debug
